<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <runtime>
<!--        <legacyNullReferenceExceptionPolicy enabled = "1"/>-->
<!--        <legacyCorruptedStateExceptionsPolicy enabled = "1"/>-->
    </runtime>
</configuration>
